body {
    font-family: Arial;
    margin: 40px;
}

header {
    background: #1f2937;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.content {
    margin-top: 20px;
}

ul {
    line-height: 1.8;
}